.home-page {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.posts-and-sidebar {
  display: flex;
}

.posts {
  flex: 1;
}

.header {
  margin: 40px;
  margin-left: 15px;
  margin-bottom: 10px;
}

.header p {
  margin: 0;
}

.header h2 {
  font-weight: 500;
  margin: 0;
}

.header p {
  color: rgb(150, 147, 147);
}

.post-button {
  margin: 10px;
}

.post-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: fit-content;
}
