.home-page {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.posts-and-sidebar {
  display: flex;
}

.posts {
  flex: 1;
}

.header {
  margin: 40px;
  margin-left: 15px;
}

.header p {
  margin: 0;
}

.header h2 {
  font-weight: 500;
  margin: 0;
}

.header p {
  color: rgb(150, 147, 147);
}

.post-cards {
  width: fit-content;
  margin-left: 15px;
}
