.sidebar {
  margin: 15px;
  margin-bottom: 0;
  padding: 15px;
  box-shadow: 10px 0px 20px -10px rgba(0, 0, 0, 0.2);
  width: 280px;
  flex-shrink: 0;
}

.sidebar ul {
  padding: 0;
}

.sidebar li {
  list-style: none;
  display: flex;
}

.sidebar p {
  margin: 10px;
}

.sidebar li input {
  cursor: pointer;
}

.sidebar input[type="checkbox"] {
  transform: scale(1.3);
}
