.btn {
  cursor: pointer;
  padding: 10px;
  border-radius: 30px;
  background-color: rgb(194, 194, 194);
  border: none;
  transition: background-color 0.2s ease, transform 0.1s ease;
}

.btn-primary {
  background-color: rgb(193, 255, 234);
}

.btn-primary:hover {
  background-color: rgb(163, 255, 224);
}

.btn-secondary {
  background-color: #0f172a;
  color: white;
}

/* .btn-secondary:hover {
  background-color: rgb(163, 255, 224);
} */

.btn-danger {
  background-color: rgb(232, 232, 232);
}

.btn:disabled {
  background-color: rgb(198, 196, 196);
  cursor: not-allowed;
}

.btn:hover:not(:disabled) {
  transform: scale(1.03);
}
