.post-card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
  width: fit-content;
  border-radius: 10px;
  overflow: hidden;
  margin: 50px;
  min-height: 488.6px;
}

.user-info {
  display: flex;
  height: fit-content;
}

.post-card img {
  height: 200px;
  width: 300px;
}

.user-profile-img {
  margin: 12px;
  margin-bottom: 0;
}

.user-profile-img img {
  border-radius: 50px;
  height: 40px;
  width: 40px;
}

.user-name-and-date {
  height: fit-content;
  margin-top: 10px;
}

.user-name-and-date p {
  margin: 0;
}

.user-name {
  font-weight: 600;
  font-size: 14px;
}

.post-date {
  font-size: 12px;
  color: rgb(145, 144, 144);
  font-weight: 500;
}

.likes {
  display: flex;
  margin-left: auto;
  margin-top: 15px;
  margin-right: 15px;
  gap: 6px;
  height: fit-content;
}

.likes-icon {
  height: fit-content;
  cursor: pointer;
}

.likes-icon:hover {
  color: rgb(129, 129, 129);
}

.likes-icon.disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.likes-number {
  height: fit-content;
}

.likes-number p {
  margin: 0;
  font-size: 15px;
}

.car-tag {
  margin: 10px;
  display: flex;
  gap: 6px;
}

.car-tag p {
  height: fit-content;
  margin: 0;
}

.car-tag .car-year {
  font-size: 13px;
  color: rgb(115, 115, 115);
  margin-top: 2px;
}

.car-tag .car-model {
  background-color: rgb(158, 211, 255);
  color: blue;
  border-radius: 5px;
  font-size: 14px;
  padding: 3px;
}

.post-title {
  margin: 10px;
  font-weight: 500;
}

.post-description {
  width: 280px;
  margin: 15px;
  margin-right: 0;
}
