.edit-profile-page {
  margin-top: 15px;
}

.edit-profile-form {
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.3);
  margin: 90px 100px 20px 100px;
  border-radius: 10px;
  display: flex;
}

.user-avatar {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.avatar-url {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form {
  margin: 20px;
  display: flex;
  width: 70%;
  flex-direction: column;
  gap: 10px;
}

.form label {
  margin-top: 5px;
}

.buttons {
  margin: 20px;
  display: flex;
  height: fit-content;
  flex-shrink: 0;
  gap: 10px;
}

.cancel-btn,
.save-changes-btn {
  border-radius: 8px;
  border: 1px solid #00000017;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 400;
  font-family: inherit;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.1s ease;
}

.save-changes-btn {
  background-color: rgb(158, 211, 255);
}

.cancel-btn:hover,
.save-changes-btn:hover {
  transform: scale(1.05);
}

.builds-count {
  margin-left: 100px;
}

.user-builds {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.3);
  margin: 20px 100px 20px 100px;
  padding: 20px;
  border-radius: 10px;
  /* text-align: center; */
}

.user-builds p {
  margin: 10px;
}

.no-builds {
  grid-column: 1 / -1;
  text-align: center;
}
