.user-profile-page {
  margin-top: 15px;
}

.user-profile-info {
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.3);
  margin: 90px 100px 20px 100px;
  border-radius: 10px;
  display: flex;
}

.user-avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  margin: 20px;
}

.user-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.user-details {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.user-avatar,
.user-details {
  margin-top: 30px;
}

.user-email-and-date {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

hr {
  width: 190%;
  height: 1px;
  border: none;
  background-color: #ccc;
}

.likes-and-posts-count {
  display: flex;
}

.likes-and-posts-count p {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin: 10px;

  font-size: 20px;
}

.likes-and-posts-count .posts {
  width: 31px;
  flex: 0;
}

.edit-profile-btn {
  display: flex;
  height: fit-content;
  margin-left: 400px;
  margin-top: 30px;
}

.edit-profile-btn button {
  border-radius: 8px;
  border: 1px solid #00000017;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 400;
  font-family: inherit;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.1s ease;
}

.edit-profile-btn button:hover {
  transform: scale(1.05);
}
